<form id = "form1" class = "navbar-form navbar-center">
Enter Link: <input type="text" name="userInput">
<input type="button" onclick="getUserLink()" value ="Submit" class="btn btn-primary">
</form>

<%= form_for :url, :url => urls_path, :class => "navbar-form navbar-center"} do |f| %>
  <%= f.label :enter_link, "Enter URL" %>
  <%= f.text_field :page_url %>
  <%= f.submit "Parse", :class => 'btn btn-primary' %>
<% end %>





